<div id="landing-page" class="landing-page">
    <app-header></app-header>
    <video autoplay loop muted style="width: 100%;">
        <source src="assets/landing/banner.mp4" type="video/mp4">
    </video>

    <div class="sections-parent">
        <div class="first-section p-grid">
            <div class="p-col-12 p-md-6">
                <h1>BlackBox Electronics</h1>
                <p>Black Box is a leading CCTV, Smart IoT solution and service provider. Based on technological innovations, Black Box offers end-to-end Security Solutions, Systems, and Services to create values for Home, Commercial Establishment and Corporates.</p>
            </div>
            <div class="p-col-12 p-md-6">
                <img src="assets/landing/big-dots.svg">
                <img src="assets/landing/shield.svg">
                <img src="assets/landing/circles.svg">
            </div>
        </div>

        <div class="second-section p-grid">
            <img src="assets/landing/big-dots.svg">
            <div class="p-col-12 p-md-6">
                <h3>Vision</h3>
                <p>Black Box is committed to providing its highest quality solutions and products with the latest technologies to enable end users to perform their business successfully. In 2018, Black Box started its operation, since then, the company has continued to invest in building strong R&D capabilities for new technology and innovation.</p>
            </div>
            <div class="p-col-12 p-md-6">
                <h3>Technology</h3>
                <p>Our goal iss to deliver the highest quality products with Best price performance to our customers. We invest in process standardization, automation, advanced surveillance technologies and continuous improvements to enhance the quality and efficiency of our production lines.</p>
            </div>
        </div>

        <div class="third-section p-grid">
            <img class="dotted-bg" src="assets/landing/big-dots.svg">
            <div class="p-col-12 p-md-6">
                <img class="house-img" src="assets/landing/house.svg">
            </div>
            <div class="p-col-12 p-md-6">
                <h1>Our Technology</h1>
                <h3>Fast</h3>
                <p>Text to be updated.</p>
                <h3>Secure</h3>
                <p>Text to be updated.</p>
                <h3>Easy</h3>
                <p>Text to be updated.</p>
            </div>
        </div>

        <div class="fourth-section p-grid">
            <div class="p-col-12">
                <iframe src="https://www.youtube.com/embed/kyTGIINVVow"></iframe>
            </div>
        </div>

        <div class="fifth-section p-grid">
            <img src="assets/landing/big-dots.svg">
            <div class="p-col-12 parent-box">
                <div class="p-grid">
                    <div class="p-col-12 p-md-6">
                        <h1>Request a Demo</h1>
                        <p>Text to be updated.</p>
                    </div>
                    <div class="p-col-12 p-md-6">
                        <input pInputText name="email" type="text" placeholder="E-mail">
                        <textarea pInputTextarea placeholder="Message"></textarea>
                        <button pButton pRipple class="gradient-btn" label="Submit"></button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="sixth-section p-grid">
        <div class="p-col">
            <img src="assets/landing/reload.svg" height="35">
            <!-- <span>Hassle free replacement</span> -->
        </div>
        <div class="p-col">
            <img src="assets/landing/rupee.svg" height="35">
            <!-- <span>10-day easy replacement policy</span> -->
        </div>
        <div class="p-col">
            <img src="assets/landing/world.svg" height="35">
            <!-- <span>Vast service network</span> -->
        </div>
    </div>

    <div class="footer-section p-grid">
        <div class="p-col">
            <h5>About Us</h5>
            <p>Text to be updated</p>
        </div>
        <div class="p-col">
            <h5>Retail Store</h5>
            <p>Text to be updated</p>
        </div>
        <div class="p-col">
            <h5>Contact Us</h5>
            <p>Email</p>
            <p>Careers</p>
            <h5>Get in Touch</h5>
            <p>
                <i class="pi pi-facebook p-mr-2"></i>
                <i class="pi pi-twitter p-mr-2"></i>
                <i class="pi pi-youtube"></i>
            </p>
        </div>
    </div>
</div>