<app-header></app-header>

<div class="dashboard-page p-grid">
    <div class="p-col-12">
        <button pButton pRipple class="p-button-outlined p-button-secondary" icon="pi pi-arrow-left" label="Go Back" type="button" [routerLink]="['/user/dashboard']"></button>
        <!-- <button pButton pRipple class="p-button-outlined" style="float: right;" icon="pi pi-user-add" label="Add SI" type="button" (click)="addSI()"></button> -->
    </div>
    <div class="p-col-12">
        <p-table [columns]="cols" [value]="cases">
            <ng-template pTemplate="header" let-columns>
                <tr>
                    <th *ngFor="let col of columns">
                        {{col.header}}
                    </th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-rowData let-columns="columns">
                <tr>
                    <td *ngFor="let col of columns">
                        {{col.field == 'si' ? rowData['si'].fname + ' ' + rowData['si'].lname : (col.field == 'siContact' ? rowData['si'].contact : (col.field == 'siEmail' ? rowData['si'].email : (col.field !== 'image' ? rowData[col.field] : '')))}}
                        <button pButton *ngIf="col.field == 'image' && rowData['name'] == 'Motion Detection'" pRipple class="p-button-outlined p-button-rounded p-button-info" icon="pi pi-image" type="button" (click)="openImage(rowData['image'])"></button>
                    </td>
                </tr>
            </ng-template>
            <ng-template pTemplate="emptymessage" let-columns>
                <tr>
                    <td [attr.colspan]="columns.length" class="p-text-center">
                        No case found.
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </div>
</div>